@tailwind base;
@tailwind components;
@tailwind utilities;
/* Sidebar.css */

/* Thay đổi màu nền cho sidebar */
.custom-sider {
  background-color: #f8f8f8; /* Màu đỏ (bg-red-500) */
}

/* Màu sắc của các item trong Menu */
.custom-menu-item {
  color: #fff; /* Màu chữ trắng */
}

/* Thay đổi màu khi item được chọn */
.custom-menu-item-selected {
  background-color: #fdf4e3;
}
.custom-sider .ant-layout-sider-trigger {
  background-color: #e1c288; /* Màu đỏ đậm */
  color: #fff; /* Màu chữ trắng */
}

/* Thay đổi màu của nút khi hover */
.custom-sider .ant-layout-sider-trigger:hover {
  background-color: #e1bd7a; /* Màu đỏ nhạt hơn khi hover */
  color: #fff;
}
.list {
  /* column-count: 3; */
  columns: 300px;
}
img {
  width: 100%;
  margin-bottom: 1em;
}
@media (max-width: 768px) {
  .list {
    column-count: 2;
  }
}
/* Định dạng lại Popover */
.popover-custom .ant-popover-inner {
  margin: 0 10px; /* Thêm margin để Popover không bị sát viền */
  max-width: 250px; /* Giới hạn chiều rộng tối đa của Popover */
}

@media (max-width: 768px) {
  /* Cải thiện hiển thị trên các thiết bị nhỏ */
  .popover-custom .ant-popover-inner {
    left: 10%; /* Đặt Popover vào giữa màn hình */
    right: 10%;
  }
}
